body{
  font-family: 'Dosis', sans-serif;
}

div.container{
  margin: 50px auto 5px;
  max-width: 1000px;
}

div.card{
  border-radius: 10px;
  border: 1px solid rgba(0, 105, 217, 0.2);
  background: rgba(7, 104, 159, 0.1);
}

h1,
p, .icon, .current-temp, .real-feel-text, .weather-description, .real-feel-temp, .forecast, .code-by{
  text-align: center;
  line-height: 1.5;
}

 div.current-temp, .weather-description, .wind, .current-date{
  margin-bottom: 40px;
}

img{
  display: block;
  margin: 30px auto 10px;
}

div.humidity, .wind, .sunrise, .sunset{
  text-align: right;
  font-weight: 600;
}

h1, .week-days, .now-temp, .open-source-link, .max-temp{
  font-weight: 600;
}

form{
  margin: 12px 5px 52px;
}

.active {
  color: black;
  cursor: default;
  font-weight: 900;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.illustration{
  min-width: 350px;
  max-width: 100%;
}

.sentence{
  margin: 40px auto 40px;
}

.description-forecast{
  margin-top: 20px;
}
.max-temp{
  color: #f0b114;
}

.min-temp{
  color: #0056B3;
}

.indications, .sunrise-set, .real-feel-text, .weather-description, .real-feel-temp, .week-days, .sentence{
  font-size: 20px;

}

.current-temp{
  font-size: 32px;
}

.code-by{
  font-size: 15px;
}
